*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color:#7E30E1;
}
form{
    height: 95vh;
    background: rgba(0, 0, 0, 0.25);
    border: 1px dotted black;
    border-radius: 5px;
    padding : 3rem;
    box-shadow: 21px 31px 68px 15px #000;
-webkit-box-shadow: 21px 31px 68px 15px #000;
-moz-box-shadow: 21px 31px 68px 15px #000;
}
fieldset{
    padding: .5rem;
    color: white;
    border-radius: 5px;
}
.uu{
    width: 16rem;
    height: 1.5rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1.1rem;
    padding: 2px;
}
.ff{
    margin-right: 30px;
}
#btn{
    background-color: #FF9843;
    height: 2rem;
    width: 30%;
    margin: 1rem 0 0 0;
    border-radius: 1rem;
    border: none;
    font-size: 1.2rem;
    text-transform: capitalize;
    text-align: center;
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

h1{
    text-align: center;
    color: #fff;
}
.rr{
    width: 100%;
    height: 100%;
}